/* fonts: */
/* rubik-regular - latin: */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v18-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/rubik-v18-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/rubik-v18-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v18-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/rubik-v18-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/rubik-v18-latin-500.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* noto-sans-regular - latin: */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/noto-sans-v25-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/noto-sans-v25-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/noto-sans-v25-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
/* montserrat-regular - latin: */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v23-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/montserrat-v23-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v23-latin-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: Rubik;
}

img {
  vertical-align: middle;
}
.login-main {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.login-container {
  width: 100vw;
  height: 100vh;
  padding-top: 190px;
  display: flex;
  justify-content: center;
  background-image: url("../img/Login.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}
.login-box {
  width: 300px;
  min-height: 323px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logInLogo {
  margin-bottom: 25px;
}
.login-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.userName {
  margin-top: 25px;
  margin-bottom: 10px;
}
.password {
  margin-top: 10px;
  margin-bottom: 21.5px;
}
.password,
.userName {
  width: 100%;
  max-width: 300px;
  padding: 13px 12px 12px 35px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: white;
}
.loginBtn {
  width: 100%;
  padding: 11px 0px;
  margin-top: 21.5px;
  margin-bottom: 5.5px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  /* Words style: */
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #0d75ff;
}
.forgetPasswor {
  margin-top: 5.5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-left: auto;
  text-decoration: none;
}
.userIcon::before {
  content: url("../img/userIcon.svg");
  position: absolute;
  top: 37px;
  left: 10px;
}
.passworIcon::before {
  content: url("../img/lockIcon.svg");
  position: absolute;
  top: 105px;
  left: 10px;
}
